body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 10px;
}

/* Style the header; this should be on every page */
header {
  background-color: #666;
  margin-top: 0;
  text-align: center;
  font-size: 35px;
  color: white;
}

header h1 {
  margin: 0;
  padding: 0.2em;
}

header a {
  text-decoration: none;
}

/** navigation styles **/
/* Create two columns/boxes that floats next to each other */
header nav {
  /* only for demonstration, should be removed */
  background: #ccc;
  padding: 2px;
}

/* Style the list inside the menu */
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header nav ul li {
  border: 2px solid #383838;
  padding: 6px;
  margin: 6px;
  transition: background-color 0.5s ease-in-out;
  /* transition: background-color 1.5s ease-out; */
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

table td {
  padding: 2px;
  border: 1px dotted;
}


label {
  display: block;
  margin: 10px;
}

@media (width < 900px) {
  header {
    font-size: 1.5em;
  }
  header a {
    padding:0px;
    margin: 0px;
    height: min-content;
  }
  header h1 {
    padding:0px;
    margin-bottom: 0px;
    height: auto;
  }

  header nav ul li {
    border: 2px solid #383838;
    padding: 2px;
    margin: 2px;
  }

  header nav ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
  }

  header nav {
    padding: 0px;
    margin: 2px 0px 2px 0px;
  }
}

header ul li:hover {
  background-color: pink;
}