/* type selectors */
main {
    min-height: 600px;
}

p {
    font-family: Courier;
    color: #f83489;
}

div {
    margin: 2px;
    display: block;
    border: 1px solid black;
    border-top: none;
    background-color: darkcyan;
}

/* class selectors */
.my-class {
    display: none;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 50px;

}


.container div {
    background-color: antiquewhite;
    width: 100px;
    height: 30px;
    text-align: center;
    align-content: center;
    border: 2px orange solid;
}

.container div:hover {
    background-color: #f83489;
    border-color: aliceblue;
}

.container div:active {
    background-color: rgb(229, 198, 157);
    border-color: orangered;
}


.grid-container {
    display: grid;
    grid-template-columns: 50px, 50px, 50px;
    grid-template-rows: 50px;
}

/* id selectors */
#my-button {
    background-color: aqua;
    padding: 6px 2px 6px 2px;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: 3px 3px slategray;

    /* example1 
    position: fixed;
    bottom: 20px;
    */

    /* example2 */
    position: sticky;
    bottom: 20px;
}

#my-button:hover {
    background-color: rgb(33, 220, 220);
    box-shadow: 2px 2px slategray;
}

#my-button:active {
    background-color: rgb(1, 172, 172);
    box-shadow: 2px 2px 1px 1px slategray inset;
}
