/* type selectors */
p {
    font-family: Courier;
    color: #f83489;
}

div {
    border: 1px solid black;
    border-top: none;
    background-color: darkcyan;
}

/* class selectors */
.my-class {
    display: none;
}

.container {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 30vw, 30vw, 30vw;
}

/* id selectors */
#my-button {
    background-color: aqua;
    padding: 3px 1px 3px 1px;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: 3px 3px slategray;
}